@import url("media.css");

.chat-header {
  overflow: visible;
  width: 100%;
  text-align: center;
  color: #faebd7;
  background-color: #0011ff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
