.message-form {
  display: flex;
  flex-shrink: 0;
}

.message-form__input {
  flex-grow: 1;
  border: 2px solid #020202;
  padding: 10px 15px;
  font-size: 16px;
  display: flex;
  max-width: 400px;
  height: auto;
  min-height: 90px;
  resize: vertical;
  width: 75%;
  box-sizing: border-box;
}

.message-form__button {
  display: flex;
  margin: 1px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 10%;
  font-weight: bolder;
  color: #FAEBD7;
  background-color: #0011ff;
}
